<section class="section section-icons grey lighten-4 center">
  <div class="container">
<div class="row">
  <div class="col s12 m4">
    <div class="card-panel blue-grey card hoverable z-depth-1">
      <h4 class="white-text">We Search Up a Child</h4>
      <p class="white-text">
        We will select a child that is in need of sponsorship
      </p>
      <!-- Dropdown Trigger -->
      <a class='dropdown-button btn orange darken-3' href='#' data-activates='dropdown1'>Sponsor</a>
      <br>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content grey-text'>
        <li><a href="{% url 'donor:donation' %}?sponsorship_amount=25">$25</a></li>
        <li><a href="{% url 'donor:donation' %}?sponsorship_amount=50">$50</a></li>
        <li><a href="{% url 'donor:donation' %}?sponsorship_amount=100">$100</a></li>
        <li><a href="{% url 'donor:donation' %}?sponsorship_amount=500">$500</a></li>
        <li><a href="{% url 'donor:donation' %}?sponsorship_amount=1000">$1000</a></li>
      </ul>
    </div>
  </div>


  <div class="col s12 m4">
    <div class="card-panel blue-grey card hoverable z-depth-1">
      <h4 class="white-text">You Choose a Project</h4>
      <p class="white-text">
        Donor chooses a project. Asha for Education will select a child that is in need of sponsorship within that project
      </p>
      <!-- Dropdown Trigger -->
      <a class='dropdown-button btn orange darken-3' href='#' data-activates='dropdown2'>Sponsor</a>
      <br>
      <!-- Dropdown Structure -->
      <ul id='dropdown2' class='dropdown-content grey-text'>
        <li><a href="{% url 'project:project-list' %}?sponsorship_amount=25">$25</a></li>
        <li><a href="{% url 'project:project-list' %}?sponsorship_amount=50">$50</a></li>
        <li><a href="{% url 'project:project-list' %}?sponsorship_amount=100">$100</a></li>
        <li><a href="{% url 'project:project-list' %}?sponsorship_amount=500">$500</a></li>
        <li><a href="{% url 'project:project-list' %}?sponsorship_amount=1000">$1000</a></li>
      </ul>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel blue-grey card hoverable z-depth-1">
      <h4 class="white-text">You Choose a Child</h4>
      <p class="white-text">
        Donor specifies preferences in project, age, gender, disability, or state for us to choose a child for sponsorship
      </p>
      <!-- Dropdown Trigger -->
      <a class='dropdown-button btn orange darken-3' href='#' data-activates='dropdown3'>Sponsor</a>
      <br>
      <!-- Dropdown Structure -->
      <ul id='dropdown3' class='dropdown-content grey-text'>
        <li><a href="{% url 'child:child-selection-dashboard' %}?sponsorship_amount=25">$25</a></li>
        <li><a href="{% url 'child:child-selection-dashboard' %}?sponsorship_amount=50">$50</a></li>
        <li><a href="{% url 'child:child-selection-dashboard' %}?sponsorship_amount=100">$100</a></li>
        <li><a href="{% url 'child:child-selection-dashboard' %}?sponsorship_amount=500">$500</a></li>
        <li><a href="{% url 'child:child-selection-dashboard' %}?sponsorship_amount=1000">$1000</a></li>
      </ul>
    </div>
  </div>
</div>
</div>

</section>
