{% extends 'base.html' %}
{% load breadcrumbs %}
{% block breadcrumbs %}
  <!-- <div class="container">
    <div class="grey lighten-1">
      <div class="col s12 m6 offset-m3">
        <a href='{% url 'index' %}' class="breadcrumb"><i class="material-icons">home</i></a>
        <a href='{% url 'donor:donor-list' %}' class="breadcrumb">Donors</a>
        <a href='{% url 'donor:donor-detail' object.pk %}' class="breadcrumb">Detail for  {{ object }}</a>
      </div>
    </div>
  </div> -->
{% endblock breadcrumbs %}

{% block content %}
<div class="container">
  <!-- <ul class="collection with-header">
    <li class="collection-item grey"><h4>Donor: </h4></li>
    <li class="collection-item">Name: {{ object }}</li>
    <li class="collection-item">Phone: {{ object.phone }}</li>
    <li class="collection-item">Item 3</li>
  </ul> -->
  <div class="container">
    <table class="striped responsive-table">
      <thead>
        <tr>
            <th>Donor:</th>
            <th>{{ object.donor }}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Sponosored Child:</td>
          <td>{{ object.child }}</td>
        </tr>
        <tr>
          <td>Sponorship Amount:</td>
          <td>{{ object.sponsorship_amount }}</td>
        </tr>
        <tr>
          <td>Expiry of Child Support:</td>
          <td>{{ object.expiry_date }}</td>
        </tr>
      </tbody>
    </table>
    <!-- <p>
      <a class="waves-effect waves-light btn" href='{% url 'donor:donor-update' object.pk %}'>Update</a>
    </p> -->
  </div>
</div>


{% endblock %}
