{% extends 'base.html' %}

{% block content %}
{% load breadcrumbs %}
{% block breadcrumbs %}
  <div class="container">
    <div class="grey lighten-1">
      <div class="col s12 m6 offset-m3">
        <a href='{% url 'donor:donor-list' %}' class="breadcrumb">Donors</a>
        <!-- <a href="" class="breadcrumb">Second</a> -->
        <!-- <a href="" class="breadcrumb">Third</a> -->
      </div>
    </div>
  </div>
{% endblock breadcrumbs %}

<div class="container">
  {% if object_list %}
    <div class="container">
      <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>Our Donors:</th>
          </tr>
        </thead>
        <tbody>
          {% for instance in object_list %}
          <tr>
            <td><a href='{{instance.get_absolute_url}}'>{{ instance }} </a></td>
            <td><a class="btn red" href='{% url 'donor:donor-delete' instance.pk %}'>Remove</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <h3 class="grey-text">Please register as a donor</h3>
  {% endif %}
</div>
{% endblock %}
