{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12 m4">

    {% if object_list %}
      <div class="row">
        <div class="col s12">
           <h5 class="center grey-text">My Donations</h5>
         </div>
      </div>
      <div class="row">
        <div class="cards-container">
          {% for instance in object_list %}
            <div class="row">
              <div class="col s12">
                <a href='{% url 'donor:donor-dashboard' child_pk=instance.child.pk %}'>
               <div class="card hoverable z-depth-1">
                 <div class="card-content center">
                   <p><a href='{% url 'donor:donor-dashboard' child_pk=instance.child.pk %}'>Child: {{ instance.child }}</a></p>
                 </div>
                 <div class="card-image">
                     <img src={% if instance.child.image.size is not None %} '{{ instance.child.image.url }}' {% else %} '{{ instance.child.image }}' {% endif %}>
                 </div>
                 <div class="card-content center">
                   <p><a href='{% url 'project:project-detail' pk=instance.child.project.pk %}'>Project: {{ instance.child.project }}</a></p>
                   <p><a href='{% url 'donor:donation-detail' pk=instance.pk %}'>Spnosorship: {{ instance.sponsorship_amount }}</a></p>
                 </div>
                 <!-- <div class="card-action">
                   <a href="#">This is a link</a>
                   <a href="#">This is a link</a>
                 </div> -->
               </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="row">
      <div class="col s12">
        <h5 class= "grey-text">Currently there are no donations</h5>
      </div>
      </div>
    {% endif %}
  </div>

      {% if object_list %}
        <div class="col s12 m5 offset-m2">
          <div class="row">
            <div class="col s12">
               <h5 class="center grey-text">Progress Report</h5>
             </div>
          </div>
          <table class="highlight responsive-table green lighten-5">
            <thead>
              <tr>
                  <!-- <th class="center grey-text"><h5>Progress Report</h5><br> -->

                    <th class="center grey-text"><br><h6 >{{ child }}</h6><br></th>
              </tr>
              <!-- <tr>
                  <th class="center grey-text"><h5>{{ child }}</h5></th>
              </tr> -->
            </thead>
            <tbody class="green lighten-5">
              {% for instance in child_progress_list %}
              <tr>
                <td class="center grey-text"><a href='{{ instance.get_absolute_url }}'>{{ instance }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
  </div>
</div> <!-- container ends here -->
  {% include 'donor/donation_choices_snippet.html' %}
{% endblock %}


<!--
1. define an id for child list <table>
  2. define id for each li element (gender and age) in the target list
</table>


  -->
