{% extends 'base.html' %}
{% load breadcrumbs %}
{% block breadcrumbs %}
  <div class="container">
    <div class="grey lighten-1">
      <div class="col s12 m6 offset-m3">
        <a href='{% url 'index' %}' class="breadcrumb"><i class="material-icons">home</i></a>
        <a href='{% url 'donor:donor-list' %}' class="breadcrumb">Donors</a>
        <!-- <a href="" class="breadcrumb">Second</a> -->
        <!-- <a href="" class="breadcrumb">Third</a> -->
      </div>
    </div>
  </div>
{% endblock breadcrumbs %}
{% block content %}
<div class="container">
  {% if object_list %}
    <div class="container">
      <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>Our Donors:</th>
          </tr>
        </thead>
        <tbody>
          {% for instance in object_list %}
          <tr>
            <td><a href='{{instance.get_absolute_url}}'>{{ instance }} </a></td>
            {% if request.user.is_superuser %}
              <td><a class="btn red" href='{% url 'donor:donor-delete' instance.pk %}'>Remove</a></td>
            {% elif request.user.is_staff %}
              <td><a class="btn red" href='{% url 'donor:donor-delete' instance.pk %}'>Remove</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  {% if not request.user.is_staff and not request.user.is_superuser %}
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h5 class="grey-text center">Please sign up as a donor</h5>
      <div class="card-panel">
        <p class="grey-text">This is a two step process..</p>
        <p class="grey-text">Step 1: Sign Up as a Donor User</p>
        <p class="grey-text">Step 2: Setup a Donor Profile</p>
        <a class="btn success right" href='{% url 'donor:donor-create' %}'>Sign Up</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
