{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      {% if object_list %}
        <div class="col s4">
          <table class="highlight responsive-table">
            <thead>
              <tr>
                  <th><h5 class="grey-text">Our Projects</h5></th>
                  <th class="center"><h5 class="grey-text">Add a Child</h5></th>
              </tr>
            </thead>
            <tbody>
              {% for instance in object_list %}
              <tr>
                <td><a href='{% url 'partner:partner-dashboard' project_pk=instance.pk %}'>{{ instance }} </a></td>
                <td class="center"><a href='{% url 'child:child-create' instance.pk %}'><i class="material-icons orange-text">add</i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br><br>
          <p>
            <a class="waves-effect waves-light btn large" href='{% url 'project:project-create' %}'>Add Project</a>
          </p>
        </div>
      {% else %}
        <div class="col s6">
          <h5 class= "grey-text">We currently do not have projects with active donors</h5>
          <br><br>
          <p>
            <a class="waves-effect waves-light btn large" href='{% url 'project:project-create' %}'>Add Project</a>
          </p>
        </div>
      {% endif %}
      {% if not request.user.is_staff and not request.user.is_superuser %}
        {% if object_list %}
          <div class="col s8 green lighten-5">
            <div class="row">
              <h5 class="center grey-text">{{ project }}</h5>
              <h5 class="center grey-text">Our Children</h5>
            </div>
            <div class="row">
              <div class="cards-container">
                {% for instance in child_list %}
                  <div class="col s12 m4">
                   <div class="card z-depth-0">
                     <div class="card-content center grey-text">
                       <p>{{ instance }}</p>
                     </div>
                     <div class="card-image">
                       <img src={% if instance.image.size is not None %} '{{ instance.image.url }}' {% else %} '{{ instance.image }}' {% endif %}>
                     </div>
                     <div class="card-content center grey-text">
                       <p><a class="grey-text" href='{% url 'child:child-update' instance.pk %}'>Gender: {{ instance.gender }} &emsp; &emsp; Age: {{ instance.age }}</a></p>
                       <!-- <p><a href='{% url 'child:child-update' instance.pk %}'>Age: {{ instance.age }}</a></p> -->
                     </div>
                     <div class="card-action center">
                       <a href="{% url 'child:progress-list' instance.pk %}">Progress Report</a>
                     </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div> <!-- container ends here -->
{% endblock %}


<!--
1. define an id for child list <table>
  2. define id for each li element (gender and age) in the target list
</table>


  -->
