{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if object_list %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}  center grey-text">{{ message|safe }}</li>
          {% endfor %}
        </ul>
        <div class="divider"></div>
      {% endif %}
    <h5 class="center grey-text">Our Projects</h5>
      <div class="row">
        <div class="cards-container">
          {% for instance in object_list %}
            <div class="col s12 m4">
             <div class="card hoverable z-depth-1">
               <div class="card-content center grey-text">
                 <p>{{ instance }} <a href='{% url 'donor:donation-within-project' instance.pk %}'class="right orange-text"><i class="material-icons small">person_add</i></a></p>
               </div>
               <div class="card-image">
                 <img src={% if instance.image.size is not None %} '{{ instance.image.url }}' {% else %} '{{ instance.image }}' {% endif %}>

               </div>
               <div class="card-content center grey-text">
                 <p><a class="grey-text" href='{% url 'project:project-detail' instance.pk %}'> {{ instance.contact_addr_city }}, &nbsp; {{ instance.contact_addr_state }}</a></p>
               </div>
               <!-- <div class="card-action center">
                 <a href="{% url 'child:progress-list' instance.pk %}">Progress Report</a>
               </div> -->
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="col s6">
        <h5 class= "grey-text">We currently do not have projects with active donors</h5>
        <br><br>
        <p>
          <a class="waves-effect waves-light btn large" href='{% url 'project:project-create' %}'>Add Project</a>
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}
