{% extends "base.html" %}

{% block content %}



<div class="row">
  <div class="col s12 m9 offset-m3">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }} "><strong>{{ message|safe }}</strong></li>
        {% endfor %}
      </ul>
      <div class="divider"></div>
    {% endif %}

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    <div class="divider"></div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p><strong>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</strong></p>
        {% else %}
        <p><strong>Please login to see this page.</strong></p>
        {% endif %}
        <div class="divider"></div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12 m3 offset-m4">
    <h5 class="grey-text center">Sign In</h5>
    <div class="card-panel">
      <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-field">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <br>
        <button type="submit" class="orange darken-3 btn btn-large waves-effect waves-light center">Sign In</button>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
      <br><br>
      <div class="row">
        <div class="col s6 m4"><a class="grey-text darken-4" href="{% url 'donor:create-donor-user' %}">New Sponsor</a></div>
        <div class="col s6 m4 right"><a class="grey-text darken-4" href="{% url 'project:create-partner-user' %}" >Partner Sign Up</a></div>
      </div>
    </div>

  </div>
  <!-- <div class="col s12 m3 offset-m1">
    <br><br><br><br><p>
    <a href="{% url 'donor:create-donor-user' %}" class="orange darken-3 btn btn-large waves-effect waves-light" style="width:100%;">New Donor</a>
  </p><br><br>
    <p>
    <a href="{% url 'project:create-partner-user' %}" class="orange darken-3 btn btn-large waves-effect waves-light"style="width:100%;">Partner Sign Up</a>
    </p>
  </div> -->
</div>

{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}
