{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div class="container"> -->
<div class="row">
<div class="col s4 offset-s3">
  <h4 class="header grey-text">Enter Child details here</h4>
  <form class="active" method='POST' enctype="multipart/form-data"> {% csrf_token %}
      <!-- {{ form }} -->
      {% for field in form %}
        <!-- {{ field.id_for_label }} -->
      <!-- {% if field.id_for_label != 'id_project' %} -->
        <div class="input-field">
          {% if field.id_for_label == 'id_image' or field.id_for_label == 'id_gender'%}
            <br>
          {% endif %}
        <label for="{{ field.id_for_label }}"> {{ field.label|safe }}</label>
        {% if field.id_for_label == 'id_image' %}
        <br>
        {% endif %}
        {{ field }}

      </div>
      <!-- {% endif %} -->
      {% endfor %}

    <br><br>
    <button type="submit" class="success btn btn-large waves-effect waves-light">Save</button>
  </form>
</div>
</div>
{% endblock %}
