{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if object_list %}
    <!-- <ul class="collection with-header">
      <li class="collection-item"><h4>Our Donors:</h4></li>
      {% for instance in object_list %}
      <li class="collection-item"><a href='{{instance.get_absolute_url}}'>{{ instance }} </a></li>
      {% endfor %}
    </ul> -->
      <div class="container">
        <div class="container">
        <div class="container">

      <table class="highlight responsive-table">

        <thead class="center">
          <tr>
              <th class="center">Child:</th>
              <th class="left">{{ child }}</th>
          </tr>
          <tr>
              <th class="center">Project:</th>
              <th class="left">{{ child.project }}</th>
          </tr>
        </thead>
      </table>
      </div>
      </div>
      </div>
      <div class="container">

      <table class="highlight responsive-table">

        <tbody>
          {% for instance in object_list %}
          <tr>
            <td class="center"><a href='{{instance.get_absolute_url}}'>{{ instance }} </a></td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  {% else %}
    <div class="col s6">
      <h5 class= "grey-text">No progress report to display yet</h5>
      <br><br>
      <p>
        <a class="waves-effect waves-light btn large" href='{% url 'child:progress-create' %}'>Add Project</a>
      </p>
    </div>
  {% endif %}
</div>
{% endblock %}
