{% extends 'base.html' %}

{% block content %}
<!-- <div class="container"> -->
<div class="row">
<div class="col s4 offset-s3">
  <h4 class="header grey-text">Enter Child Progress details here</h4>
  <form class="active" method='POST'> {% csrf_token %}
      <!-- {{ form }} -->
    {% for field in form %}

    <!-- {% if field.id_for_label != 'id_project' %} -->
      <div class="input-field">
      {{ field }}
      <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
    </div>
    <!-- {% endif %} -->
    {% endfor %}
    <!-- <input type='submit' value='Save' /> -->
    <button type="submit" class="success btn btn-large waves-effect waves-light">Save Progress</button>
  </form>
</div>
</div>
{% endblock %}
